.code-editor-window {
    background-color: lightgray;
    width: 45vw;
    height: 73vh;
    border-radius: 15px;
    text-align: center;
    color: black;
}

button {
    background-color: #2db55d;
    color: white;
    border: 0px;
    padding: 4px;
    border-radius: 5px;
    margin-top: 15px;
}

#button1 {
    margin-left: 36vw;
}

#button2 {
    margin-left: 1vw;
}