* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: white;
}

#root {
    background-color: black;
    padding: 20px;
    overflow-y: hidden;
}